<html>
<head>
    
</head>

<body>
    <h2>Записаться</h2>
    <p>На этой странице Вы можете записаться в Barber Shop</p>

    <script type="text/javascript">

        $(function() {
            $('#color').simplecolorpicker();
            // Тут я могу написать любой javascript код, который исполнится
            // после загрузки всей страницы.
        })

    </script>

    <form role="form" method="POST">

      <div class="form-group">
        <label>Введите Ваше имя</label>
        <input name="user_name" type="text" class="form-control" placeholder="Ваше имя" value="<%= @user_name %>">
      </div>

      <div class="form-group">
        <label>Введите Ваш телефон</label>
        <input name="phone" type="text" class="form-control" placeholder="987-654-32-10" value="<%= @phone %>">
      </div>

      <div class="form-group">
        <label>Введите дату и время визита</label>
        <input name= "date_time" type="text" class="form-control" placeholder="12.03.2020 - 10:00" value="<%= @date_time %>">
      </div>
      
      <div class="form-group">
        <label>Ваш парикмахер</label>
        <select name="barber" class="form-control">
            <option>1. Jessie Pinkman</option>
            <option>2. Wolter White</option>
            <option>3. Gas Fring</option>
            <option>4.  - vacancy -</option>
            <option>5.  - vacancy -</option>
        </select>
      </div>

      <div>
            <label>Выберите цвет </label>
            <select name="colorpicker">
              <option value="#7bd148">Green</option>
              <option value="#5484ed">Bold blue</option>
              <option value="#a4bdfc">Blue</option>
              <option value="#46d6db">Turquoise</option>
              <option value="#7ae7bf">Light green</option>
              <option value="#51b749">Bold green</option>
              <option value="#fbd75b">Yellow</option>
              <option value="#ffb878">Orange</option>
              <option value="#ff887c">Red</option>
              <option value="#dc2127">Bold red</option>
              <option value="#dbadff">Purple</option>
              <option value="#e1e1e1">Gray</option>
            </select>  
      </div>

//        $('select[name="colorpicker"]').simplecolorpicker();
        
      <button type="submit" class="btn btn-primary"> Записаться </button>

    </form>

</body>
</html>
